[submodule "rtview-dataserver/tools"]
	path = Kubernetes/Marketplace-Tools
	url = git@github.com:GoogleCloudPlatform/marketplace-k8s-app-tools.git#v0.6.2
[submodule "rtview-kubernetes"]
	path = Kubernetes/RTView-Kubernetes
	url = git@github.com:slcorp/RTView-Kubernetes.git
